{% extends "bootstrap/base.html" %}

{% block title %}DBScale管理平台{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for('static', filename='png/dbscale.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.css') }}">
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-contextmenu.js') }}"></script>
<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DBScale管理平台</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li id="coll1"><a data-toggle="collapse" href="#collapse1">集群管理<span class="sr-only">(current)</span></a></li>
        <div id="collapse1" class="panel-collapse collapse">
          <ul class="list-group">
            <li id="add_cluster"class="list-group-item">&nbsp;&nbsp;&nbsp;新增集群</li>
            <li id="show_cluster" class="list-group-item">&nbsp;&nbsp;&nbsp;查看集群</li>
          </ul>
        </div>
        <li id="sql"><a href="#">SQL命令台</a></li>
        <li id="monitor"><a data-toggle="collapse" href="#collapse2">集群监控</a></li>
        <div id="collapse2" class="panel-collapse collapse">
          <ul class="list-group">
            <li id="show_topo" class="list-group-item">&nbsp;&nbsp;&nbsp;集群拓扑</li>
            <li class="list-group-item">&nbsp;&nbsp;&nbsp;慢日志</li>
            <li class="list-group-item">&nbsp;&nbsp;&nbsp;错误日志</li>
          </ul>
        </div>
      </ul>
    </div>
    <div id="tab" class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main">
    </div>
  </div>
</div>
{% endblock body %}


{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
