{% extends "index.html" %}

{% block head %}
{{ super() }}
<script>
  $(document).ready(function(){
      $("#sql").addClass("active");
      });
</script>
{% endblock head %}

{% block tab %}

<div id="body" >
  <div id="select-ds">
    <select class="form-control">
      <option value="">选择集群</option>
      {% for cluster in clusters %}
      <option value="{{cluster.id}}">{{cluster.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div id="input">
    <div class="wrapper">
          <div id="custom_query"></div>
      <div class="actions">
        <input type="button" id="run" value="Run Query" class="btn btn-sm btn-primary" />
        <input type="button" id="explain" value="Explain Query" class="btn btn-sm btn-default" />
        <div id="query_progress">Please wait, query is executing...</div>
      </div>
    </div>
  </div>
  <div id="output">
    <div class="wrapper">
      <table id="results" class="table"></table>
    </div>
  </div>
</div>
{% endblock tab %}

